* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  list-style: none;
}

.btn {
  min-width: 118px;
  min-height: 50px;
  outline: none;
  border: none;
  border-radius: 999px;
  background-color: #171100;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 175%;
  text-align: center;
  cursor: pointer;
}

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
/* Header */
.header {
  background: #fffcf4;
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
}
.body-header {
  padding-top: 36px;
}

.logo {
  width: 85px;
  height: 34px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 142%;
  color: #171100;
  cursor: pointer;
}

.body-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  display: flex;
  margin-right: 70px;
}

.nav ul li {
  margin-left: 42px;
  position: relative;
}

.nav ul li:first-child a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 175%;
  text-align: center;
  color: #171100;
}

.nav ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 175%;
  text-align: center;
  color: #5f5b53;
}

.nav .btn-header {
  width: 144px;
  height: 50px;
  background: #171100;
  border-radius: 24.5px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 175%;
}

.nav ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.nav ul li:hover::after {
  width: 100%;
}

/* HERO */

.hero {
  padding: 64px;
  background: #fffcf4;
}

.content-hero {
  display: flex;
}
/* HERO LEFT */

.hero-left {
  position: relative;
}

.hero-left .hero-img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
}

.hero-left .count-course .course-hero {
  margin-left: 24px;
  margin-top: 28px;
  margin-bottom: 28px;
}

.hero-left .count-course .course-hero .course-item:nth-child(2) {
  margin-top: 22px;
}

.hero-left .count-course .course-hero .course-item:nth-child(3) {
  margin-top: 22px;
}

.course-hero .course-item:nth-child(1) .course-img {
  background: #fff9e8;
  border-radius: 50%;
}

.course-hero .course-item:nth-child(2) .course-img {
  background: #fcefff;
  border-radius: 50%;
}

.course-hero .course-item:nth-child(3) .course-img {
  background: #ebeaff;
  border-radius: 50%;
}

.hero-left .count-course {
  width: 270px;

  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.hero-left .count-course .course-item {
  display: flex;
}

.hero-left .count-course .course-item .course-img {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-left .count-course .course-item .course-img img {
  width: 24px;
  height: 24px;
}

.hero-left .count-course .course-item span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 186%;
  color: #5f5b53;
}

.hero-left .count-course .course-item h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
  color: #171100;
}

.hero-left .count-course .course-item .course-name {
  margin-left: 16px;
}

.hero-left .count-course {
  position: absolute;
  left: 300px;
  bottom: 48px;
}

/* HERO RIGHT */
.hero-right {
  margin-left: 230px;
  margin-top: 64px;
}

.hero-info .title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #171100;
}

.hero-info .des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 167%;
  color: #5f5b53;
  margin-top: 22px;
}

.hero-action {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero-action .btn {
  width: 180px;
  height: 64px;
  background: #ffb900;
  border-radius: 32px;
  margin-right: 28px;
}

.hero-action .btn-play {
  width: 40px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
  text-align: center;
  color: #ffffff;
  margin-right: 14px;
}

.hero-action h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
  color: #171100;
}

.info-academy {
  margin-top: 48px;
}

.info-academy span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 167%;
  color: #5f5b53;
}

.info-academy .info {
  display: flex;
  gap: 28px;
}

.info-academy .info h1 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 123%;
  color: #171100;
  margin-top: 8px;
}

/* COURSE */

.course {
  margin-top: 200px;
}

.course .title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 126%;
  letter-spacing: -0.02em;
  color: #171100;
}

.course .info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 167%;
  color: #5f5b53;
  margin-top: 16px;
}

.course .card-list {
  margin-top: 55px;
}

.course .card-list .card-item {
  max-width: 370px;
  height: 466px;
  /* background-color: #5f5b53; */
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.course .card-list .card-img {
  width: 100%;
  height: 278px;
}

.course .card-list .info-group {
  margin: 22px;
}

.card-list .card-item .title-rate .card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
  color: #171100;
}

.card-list .card-item .title-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-list .card-item .rating {
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-list .card-item .rating span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 175%;
  color: #fea31b;
  margin-left: 6px;
  text-align: center;
}

.card-list .card-item .rating .star {
  display: flex;
  /* align-items: center; */
}

.card-list .card-item .card-des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 186%;
  color: #5f5b53;
  margin-top: 6px;
}

.card-list .card-item .price-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 22px;
}

.card-list .card-item .price-action .btn-card {
  width: 118px;
  height: 50px;
  background: #ffb900;
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 186%;
  text-align: center;
  color: #ffffff;
}

.card-list .card-item .price-action h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 167%;
  color: #171100;
}

.course .card-list {
  display: flex;
  gap: 30px;
  /* flex-wrap: wrap; */
}

/* COMMENT */

.comment {
  width: 100%;
  height: 380px;
  background: #2e2100;
  margin-top: 200px;
}

.comment-left {
  min-width: 159px;
}

.comment-left .avata {
  margin-top: 69px;
  width: 72px;
  height: 72px;
  background: url(image.png);
}

.comment-left .name {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 142%;
  color: #f7f7f7;
  margin-top: 18px;
}

.comment-left .info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 186%;
  color: #bfbcb3;
  margin-top: 4px;
}

.dot {
  display: flex;
  gap: 6px;
  margin-top: 28px;
}

.dot .dot-1 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
}

.dot .dot-2 {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffb900;
}

.content-comment {
  display: flex;
}

.comment-right {
  margin-left: 271px;
  margin-top: 124px;
  position: relative;
}

.comment-right .des {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 154%;
  color: #ffffff;
}

.comment-right .phay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}

/* FEATURES */

.content-features {
  display: flex;
  margin-top: 200px;
}

.features-left {
  display: flex;
  gap: 30px;
}

.features-left .img-1 {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  margin-top: 34px;
}

.features-left .img-2 {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  margin-bottom: 34px;
}

.features-right {
  margin-top: 58px;
  margin-left: 130px;
  display: flex;
  flex-direction: column;
}

.features-right .title {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 126%;
  letter-spacing: -0.02em;
  color: #171100;
}

.features-right .des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 175%;
  color: #5f5b53;
  margin-top: 16px;
}

.features-right span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 175%;
  color: #5f5b53;
  margin-top: 16px;
}

.features-right .btn-feature {
  width: 137px;
  height: 50px;
  background: #ffb900;
  border-radius: 26px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 175%;
  text-align: center;
  color: #ffffff;
  margin-top: 32px;
}

/* CTA */

.content-cta {
  display: flex;
  margin-top: 200px;
}

.cta-left h1 {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  /* or 126% */
  letter-spacing: -0.02em;
  color: #171100;
  margin-top: 71px;
}

.cta-left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  color: #5f5b53;
  margin-top: 16px;
}

.cta-left .btn-cta {
  width: 137px;
  height: 50px;
  background: #ffb900;
  border-radius: 26px;
  margin-top: 32px;
}

.cta-right img {
  margin-left: 130px;
}

/* BLOG */

.blog {
  margin-top: 200px;
  width: 100%;
  height: 878px;
  background: #fffcf4;
}

.card-list-blog .card-item-blog {
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.conten-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog .blog-title {
  padding-top: 96px;
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 126%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #130606;
}

.blog .sub-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 175%;
  text-align: center;
  color: #696262;
  margin-top: 16px;
  max-width: 448px;
  margin-bottom: 55px;
}

.card-list-blog {
  max-width: 370px;
  min-height: 467px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.card-list-blog .img {
  width: 370px;
  height: 250px;
  border-radius: 16px 16px 0px 0px;
}

.card-list-blog .info-card {
  margin-top: 20px;
  margin-left: 30px;
}

.card-list-blog .info-card .date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 26px;
  color: #5f5b53;
}

.card-list-blog .info-card .time {
  display: flex;
  align-items: center;
}

.card-list-blog .info-card .time .dot {
  width: 6px;
  height: 6px;
  background: #ffb900;
  border-radius: 50%;
  margin-right: 4px;
}

.card-list-blog .info-card .line {
  width: 160px;
  height: 1px;
  background: #e2dfda;
  border-radius: 0.5px;
  margin-top: 12px;
}

.card-list-blog .info-card .card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 175%;
  color: #171100;
  margin-top: 12px;
}

.card-list-blog .info-card .btn {
  width: 118px;
  height: 50px;
  background: #ffb900;
  border-radius: 25px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
  margin-top: 12px;
}

/* FOOTER */

.footer {
  width: 100%;
  /* height: 428px; */
  background: #2e2100;
  /* padding-top: 140px; */
}

.wrap-footer {
  padding-top: 96px;
}

.footer-info img {
  font-family: "Sen";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

.footer-info .des {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #bfbcb2;
  margin-top: 18px;
  max-width: 267px;
}

.footer-info .social-media {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 18px;
  margin-top: 18px;
}

.footer-info a {
  width: 18px;
  height: 15px;
  color: #ffffff;
}

.wrap-item .item-1 .name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}

.wrap-item .item-1 .line {
  width: 130px;
  height: 1px;
  background: #59554b;
  margin-top: 14px;
}

.wrap-item .item-1 ul {
  margin-top: 28px;
}

.wrap-item .item-1 ul li {
  margin-bottom: 12px;
  min-width: 147px;
  max-width: 100%;
}

.wrap-item .item-1 ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #bfbcb2;
  transition: all 0.3s ease-out;
}

.wrap-item .item-1 ul li a:last-child {
  margin-bottom: 0;
}

.wrap-item .item-1 ul li a:hover {
  color: #fff;
  margin-left: 10px;
}

.wrap-footer {
  display: flex;
}

.wrap-item {
  margin-left: 145px;
  display: flex;
  gap: 130px;
}

.wrap-item .item-1 h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}

.wrap-item .item-1 span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #bfbcb2;
}

.wrap-item .item-1 .location {
  margin-top: 28px;
}

.wrap-item .item-1 .email {
  margin-top: 12px;
}

.wrap-item .item-1 .phone {
  margin-top: 12px;
}

.content-footer .line-footer {
  width: 1170px;
  height: 1px;
  background: #59554b;
  margin-top: 38px;
}

.content-footer .copyright {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #807d74;
  margin-top: 28px;
  padding-bottom: 28px;
}
